:root{
  --orange1:#ef5024;
  --orange2:#EC903D;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body,html{
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}
.div1logo{
    justify-content: center; 
    
    
    width: 90px;
}

.myrow{
    display: flex;
}

.coming_soon{
  padding: 10vh 0 5vh;    
  width: 80%;
  max-width: 600px;
}

.mycol{
    display: flex;
    flex-direction: column;
}
.div1 {
    width: 100%;
    min-height: 500px;
    height: 100vh;
    background-color: #DFDED9;
    justify-content: center;
    align-items: center;
    position: relative;
    padding:0 2vw;
    padding-bottom: 5vh;
}

.div1-p p {
  margin-bottom: 0px; 
  color: var(--orange1); 
  font-size: 25px;
}


.scroll_down{
  color: var(--orange1);
  position: absolute;
  left: 50%;
  bottom: 3%;
  transform: translateX(-50%);
  cursor:pointer;
}

.hover{
  transition: 0.2s;
}

.hover:hover{
transform: scale(1.05);
}

.scroll_down p{
  font-size: 15px;
}

.div2 {
  
    min-height: 100vh;
    display: flex;
    
    width: 100%;
}
  
.div2 > img {
    width: 50vw;
}

.div2 .textContainer2 {
    width: 100%;
    align-self: center;
    margin: auto;
    max-width: 700px;
}

.div2 .textContainer{
  display: flex;
  align-items: center;
  padding:5vh 10vmin;

  
}
.div2 .textContainer p{
  font-size: clamp(20px,7vw,50px);
  color: var(--orange1);

}

.div2 .textContainer2 p em{
  white-space: nowrap;
}



.div2 input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--orange1); 
    margin: 10px 0;
    background-color: transparent;
}



.submit-button , .download-button{
  background-color: var(--orange1);
  color: white;
  border: none;
  padding:2vmin;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 5vmin;
  max-width: 500px;

}

#incite-submit-form .g-recaptcha>div{
  height:auto !important;
  width:auto !important;
}

.submit-button{
  margin-top:0vmin;
}

.submit-button:disabled{
  opacity: 0.5;
  pointer-events: none;
}


.download-text {
  padding-left: 10px ;
  font-size: 3.5vmin;
  font-weight: bold;
}

.download-button img.download-icon {
  
  margin-left: 10px;
  width: 4vmin;

}

  .div3{
    width: 100%;
    background-color: #DFDED9;
    font-weight: 700; 
    font-size: 80px;
    padding: 10vmin ;
  }

  .div3p {
    color: var(--orange1);
    font-size: clamp(25px,10vw,100px);
    margin-bottom:10vmin;
    width: 90%;
    font-weight: 900;
  }

  .div4{
    width: 100%;
    font-weight: 200;
    font-size: 15px;
    font-size: clamp(25px,10vw,100px);
  }

  .div4-p{
    font-size: 4vmin;
    color: var(--orange2);
    width: 100%;
  }


  .div4-p p{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
  }

  

  .div4 input[type="text"] , .div4 textarea{
    border: none; 
    border-bottom: 2px solid var(--orange1); 
    background-color: transparent; 
    color: var(--orange1); 
    outline: none; 
    flex:1;
    font-size: 3vmin;

  }
  
  .div4 input[type="text"]::placeholder {
    color: var(--orange1); 
    font-weight: bold;
  }

  .line-input::placeholder {
    color: var(--orange1); 
    font-weight: bold;
  }

  .div6 {
    background-color: var(--orange1); 
    width: 100%;
    
}

.footer-logo{
    filter: brightness(0) invert(1);
    width: 190px;
   
    
}

.all-rights{
    margin-left: 40px;
    margin-top: 220px;
    color: white;
}

.contact-num{
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
  }


  a.contact-num:hover{
    color: white;

    text-decoration: underline;
  }

.footer-top{
    justify-content: space-between;
}

.footer-bottom{
    color: white;
    margin-top: auto;
}

.div6{
    display: flex;
    flex-direction: column;
    padding:10vmin;
}

.footer-img-row{
    margin: 80px 0;
    gap: 10px;
}



@media screen and (max-width: 1000px) {
  .div2 > img{display: none;}
}

@media screen and (max-width: 700px) {
  .div2 .textContainer{
    font-size: 10px;
  }


  .div2 .input::placeholder {
    font-size: 10px;
  }

  .download-button {
    padding: 5px 10px;
  }
}

@media screen and (max-width: 530px) {
  .div6 .footer-top{
    flex-direction: column;
    gap: 70px;
  }
.div6 .footer-bottom{
  flex-direction: column;
}

  .div6 .footer-bottom p{
    font-size: 12px;
  }
}
